# Python cache
__pycache__/
*.py[cod]

# Virtual environment
golfBackend/venv/
golfBackend/.env




# macOS / Windows system files
.DS_Store
Thumbs.db

# Logs or temp files (if you generate any)
*.log



